---
import { getUrl } from "@utils/index";
---

<div
  id="root-container"
  class="w-full flex flex-col items-center justify-start my-6 p-4 antialiased max-w-xl mx-auto"
>
  <slot />
</div>

<head>
  <!-- Your existing head content -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS Feed for whewchews"
    href={getUrl("/rss.xml")}
  />
</head>
